.ant-form-item-label {
  font-weight: 600;
  color: #414868;
}

.ant-input:read-only {
  background-color: #efefef;
}

.ant-input:focus,
.ant-input-focused {
  outline: 2px solid #0f62fe;
  outline-offset: -2px;
  transition: none;
}

.ant-input-status-error:focus,
.ant-input-status-error.ant-input-focused {
  outline: 2px solid #da1e28 !important;
  outline-offset: -2px;
  transition: none;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  outline: 2px solid #0f62fe;
  outline-offset: -2px;
  transition: none;
}

.ant-input-affix-wrapper-status-error:focus,
.ant-input-affix-wrapper-status-error.ant-input-affix-wrapper-focused {
  outline: 2px solid #da1e28 !important;
  outline-offset: -2px;
  transition: none;
}

.ant-input-number:focus,
.ant-input-number-focused {
  outline: 2px solid #0f62fe;
  outline-offset: -2px;
  transition: none;
}

.ant-input-number-status-error:focus,
.ant-input-number-status-error.ant-input-number-focused {
  outline: 2px solid #da1e28 !important;
  outline-offset: -2px;
  transition: none;
}
