body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #111827;
}

* {
  box-sizing: border-box;
}

@import "./utils";

@import "./components/input";
@import "./components/empty";
@import "./components/alert";
@import "./components/tag";
@import "./components/table";
@import "./components/select";
@import "./components/action-buttons";
