.layout-main {
  height: 100vh;
  width: 100vw;
  // background: #f9fafb;

  .layout-header {
    height: 64px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e6f5;
    background: white;
  }

  .layout-header-logo {
    height: 100%;
    width: 260px;
    display: flex;
    align-items: center;
    padding: 24px;
    font-weight: 600;
    color: #000865;
    // border-right: 1px solid #e0e6f5;
  }

  .layout-body {
    height: calc(100vh - 64px);
    display: flex;
    justify-items: stretch;
  }

  .layout-body-navbar {
    background: white;
    flex: 0 0 260px;
    border-right: 1px solid #e0e6f5;
    padding: 32px 20px;
    overflow: auto;
  }

  .layout-body-content {
    flex: auto;
  }

  .layout-navbar-section {
    margin-bottom: 22px;
  }

  .layout-navbar-section-title {
    margin-bottom: 14px;
    color: #000865;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
  }

  .layout-navbar-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 44px;
    border-radius: 8px;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 12px;
    margin-left: -8px;
    margin-right: -8px;
    text-decoration: none;
    color: inherit;

    &:hover {
      background: #f0f5ff;
    }

    &.active {
      background: #f0f5ff;
      color: #0f62fe;

      .layout-navbar-item-desc {
        font-weight: 600;
      }
    }

    svg {
      margin-right: 18px;
    }
  }

  .layout-navbar-loading {
    height: 152px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .layout-navbar-error {
    height: 152px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16;
    margin-bottom: 14;
    background-color: "#fff1f0";
    border-color: "#ff170a";
    color: "#e70000";
  }

  .layout-model-selector {
    margin-bottom: 32px;

    .layout-model-selector-header {
      display: flex;
      align-items: center;

      .add-button {
        flex: 0 0 24px;
        margin-left: 8px;
        font-size: 24px;
      }
    }

    label {
      display: block;
      margin-bottom: 6px;
      font-size: 14px;
      font-weight: 600;
      color: #000865;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .ant-select {
      width: 100%;
    }

    .ant-select-selector {
      height: 42px !important;
    }

    .ant-select-selection-search-input {
      height: 42px !important;
    }
  }

  .layout-user {
    display: flex;
    align-items: center;

    margin-right: 14px;
    font-weight: 600;
    color: #000865;

    padding: 6px 12px;
    border-radius: 4px;

    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
      background: #f3f6ff;
    }

    .ant-avatar {
      margin-right: 8px;
    }
  }
}

.user-popover {
  .ant-popover-inner {
    padding: 0;
  }

  .user-profile-menu {
    width: 140px;

    .ant-menu {
      border-inline-end: 0px !important;
    }

    .ant-menu-item {
      padding-left: 8px !important;
      padding-right: 8px !important;
      font-weight: 600;
      color: #ff4d4f !important;
      text-align: center;

      &:hover {
        background-color: #ffe5e6 !important;
      }
    }
  }
}

@import "Page";
